<%- include('parts/html_head') %></div>
<title>Register_Success</title>

</head>
<!-- 3秒後返回首頁 -->
<body onload="setTimeout('backToHome()', 5000);">
    <%- include('parts/navbar') %>

    <div class="container">
        <div class="alert alert-success" role="alert">
            <p><%= registerMember.name %> 先生/小姐</p>
            <p class="mb-0">信箱/帳號: <%= registerMember.email %> 已註冊成功！</p>
            <hr>
            <a href="/">回首頁...(5秒後自動跳轉至首頁)</a>
        </div>
    </div>
    <script>
        function backToHome(){
            window.location.replace("/"); //不回成功頁面，但是會回到填寫資料的頁面
        };
    </script>
</body>

</html>