<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a id="home_link" class="nav-link" href="/">首頁 <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a id="member_center_link" class="nav-link" href="javascript:toMemberCenter()">會員資料 <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a id="order_info_link" class="nav-link" href="javascript:toOrderInfo()">訂單資料 <span
                            class="sr-only">(current)</span></a>
                </li>

            </ul>
            <ul class="navbar-nav">
                <!-- shopping cart -->
                <li class="nav-item">
                    <form id="shopping_form" action="/shopping_cart" method="POST" style="display:none">
                        <input type="text" id="shopping_cart_id" name="shopping_cart_id" value="">
                        <input type="text" id="shopping_cart_name" name="shopping_cart_name" value="">
                        <input type="text" id="shopping_cart_qty" name="shopping_cart_qty" value="">
                        <input type="text" id="shopping_cart_unit_price" name="shopping_cart_unit_price" value="">
                        <input type="text" id="shopping_cart_category" name="shopping_cart_category" value="">
                        <input type="text" id="shopping_cart_temp_amount" name="shopping_cart_temp_amount" value="">
                    </form>
                    <a class="nav-link" id="shopping_cart" name="shopping_cart"
                        href="javascript:$('#loginName_link').length == 0 ? $('#login_btn').click() : $('#shopping_form').submit();"><i
                            class="fas fa-shopping-cart"></i>
                        <span>$ </span><span id="shopping_cart_amount" name="shopping_cart_amount"><%= locals.cart_temp_amount %></span></a>
                </li>
                <% if(locals.loginName){ %>
                <li class="nav-item">
                    <a id="loginName_link" class="nav-link"><%= locals.loginName %></a>
                </li>
                <li>
                    <a class="btn btn-primary" href="/logout">登出</a>
                </li>
                <% } else{ %>
                <li class="nav-item">
                    <!-- Button trigger modal -->
                    <button id="login_btn" type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#exampleModal">
                        登入
                    </button>
                </li>
                <% } %>
            </ul>
            <!-- Login Modal -->

        </div>
    </div>
</nav>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">

    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <form class="px-4 py-3" method="POST" action="/">

                <div class="form-group">
                    <label for="email">信箱 / 帳號</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="email@example.com">
                </div>
                <div class="form-group">
                    <label for="password">密碼</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck">
                        <label class="form-check-label" for="dropdownCheck">
                            記住我
                        </label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">登入</button>
            </form>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/register">尚未加入? 立即註冊</a>
            <!-- <a class="dropdown-item" href="#">忘記密碼？</a> -->
        </div>
    </div>
</div>
<script>
    function toMemberCenter() {
        if ($('#loginName_link').text().length !== 0) {
            window.location.href = "/member_info";
        } else {
            $('#login_btn').click();
        };
    };

    function toOrderInfo() {
        if ($('#loginName_link').text().length !== 0) {
            window.location.href = "/order_info";
        } else {
            $('#login_btn').click();
        };
    };

    $('#shopping_cart').click(function(){
       let temp_amount = $('#shopping_cart_amount').text();
       $('#shopping_cart_temp_amount').val(temp_amount);
    });

</script>